#buttonions {
  float: right;
  margin-top: none;
}

#logo {
float: left;
margin-right: 5px;
}

#bio {
}

#me {
  margin-top: 1px;
  margin-right: 250px;
  margin left: 50px;
}

#mordor {
  margin-right: 10px;
}

#sticks {
  margin-right: 10px;
}
